body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    margin: 20px;
    padding: 0
    background-color: white;
    background-image: url(background.jpg);

}

a:link {
    color: red;
}

a:visited {
    color: purple;
}

h1 {
    font-size: 3em;
    font-weight: lighter;
    color: blue;
    margin: 0;
    margin-bottom: 0.5em;
    text-align: center;
    padding: 0.4em;

}

h2 {
    font-size: 2em;
    font-weight: lighter;
    color: gray;
    margin: 0;
    text-align: center;
    padding: 0.3em
}

h3 {
    font-size: 2em;
}

footer {
    clear: both;
    text-align: center;
}